<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= htmlWebpackPlugin.options.title %></title>


</head>
<body>
	
	<div id='app'> </div>

	<!-- <img src="src/assets/bg.jpg"> -->

	<%= htmlWebpackPlugin.options.date %>
	<% for (var key in htmlWebpackPlugin.files) { %>
		<%= key %> : <%= JSON.stringify(htmlWebpackPlugin.files[key])%>
	<% } %>

	<% for (var key in htmlWebpackPlugin.options) { %>
		<%= key %> : <%= JSON.stringify(htmlWebpackPlugin.options[key])%>
	<% } %>
	

</body>
</html>